@using Umbraco.Web
@using UmbracoResumeWebsite.Web.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<UmbracoNavigationList>

<!-- Navigation -->
<nav id="main-menu">
    @if (Model.Items.Count > 0)
    {
    <ul class="nav nav-horizontal">
        @foreach (var item in Model.Items)
        {
        <li>
            <a href="@item.Url">@item.Name</a>
        </li>
        }
    </ul>
    }
</nav>
